<main class="col-8 ">
{% include 'geekhub/home/slider.html' %}
    <div class="pt-5 pb-5">
                <header>
                    <h2 class="">
                        Про проект
                    </h2>
                </header>
                <article>
                    GeekHub – це проект, що надає можливість талановитій молоді отримати практичні знання та навички в
                    сфері розробки програмного забезпечення та IT вцілому.
                    Команда Geekhub — це группа професіоналів в інформаційних технологіях, які готують слухачів курсів
                    до успішної кар’єри в індустрії. Всі члени команди Geekhub працюють у провідних софтверних
                    компаніях, кожного дня оновлюючи свої знання та навички. Саме це дає змогу викладати виключно
                    потрібний матеріал, що знадобиться при роботі в реальних виробничих умовах.
                    Ми шукаємо мотивованих учнів та студентів, які мріють отримати професію в інформаційних технологіях,
                    для інтенсивного практичного навчання з розробки веб та мобільних додатків. Ми хочемо, щоб молоді
                    таланти теж змогли приєднатись до спільноти професіоналів інформаційних технологій і створювали
                    унікальні інтегровані продукти для поліпшення умов праці і життя людей навколо нас.
                    Ми називаємо Geekhub “Open Source”, тому що саме ця ідеологія керує всією програмою. Все, що ми
                    робимо, обертається навколо взаємовідносин між людьми. Курси Geekhub не коштують грошей, все що
                    вимагається — це внутрішня мотивація та багато самостійної роботи.
                    Якщо ви зацікавлені у співробітництві з GeekHub, або у вас є ідеї щодо того, як зробити GeekHub
                    краще – будь ласка, зв’яжіться з нами будь-яким зручним для вас шляхом.
                </article>
                <h2 class="">
                    Як потрапити на GeekHub

                </h2>
                <article>
                    <header>
                        <h4>Для того, щоб вступити на навчання до GeekHub, необхідно:</h4>
                    </header>
                    <ul>
                        <li>На початку сезону зареєструватись на сайті GeekHub</li>
                        <li>Прийти на загальний збір абітурієнтів</li>
                        <li>Пройти авто-тестування з курсів, на які ви зареєструвались</li>
                        <li>У разі успішного складання авто-тестування, пройти співбесіду</li>
                    </ul>


                </article>
                <header>
                    <h2 class="article-title">
                        Початок і закінчення реєстрації на сьомий сезон
                    </h2>
                </header>
                <article>
                    Реєстрація на 7-ий сезон (2017-2018 навчальний рік) розпочинається 15 серпня та закінчується 15
                    вересня 2017 року. Зареєструватись можна на офіційному сайті GeekHub – http://geekhub.ck.ua
                    З першого дня реєстрації на сайті буде розміщена детальна інформація з кожного курсу – опис та
                    програма курсу, команда викладачів, а також список тем, з яких треба готуватись до вступного
                    авто-тестування.
                    Абітурієнтам дозволяється реєструватись на будь-яку кількість курсів. У разі успішної здачі
                    авто-тестування з декількох курсів, абітурієнт буде змушений вибрати лише один курс для прохождення
                    співбесіди та подальшого навчання.
                    Кожного року одразу після закінчення реєстрації ми отримуємо дуже багато листів та телефонних
                    дзвінків з проханнями зареєструвати. На жаль, ми вимушені відмовляти усім, хто не встиг
                    зареєструватися вчасно, незалежно від причини. Тому подбайте заздалегіть про те, щоб
                    зареєструватися, а також нагадати своїм знайомим та друзям.
                </article>
            </div>

</main>